{% extends 'base.html.twig' %}

{% block body %}
	<h1>404 - Page Not Found</h1>
	<p>Oops! You went to a bad link.</p>
	<br>
	<a href="{{ path('app_task_index') }}">Click here to view tasks</a>
{% endblock %}
